<%= div_for shelf do %>
  <div class="header">
    <%= render 'header' %>
    <div class="order">
      <%= param_link :v, icon('list', 'lista'), :list, default: shelf.visualization == 'list' %> | 
      <%= param_link :v, icon('th', 'iconos'), :icons, default: shelf.visualization == 'icons' %> | 
    </div>
  </div>

  <div class="references list">
    <div class="user_filter alert alert-info" style="display: none">
      Mostrando las entradas de <strong class="user_name">NOMBRE</strong>.
      <a href="#" class="show_all">Pulsa aquí para ver todas</a>.
    </div>
    <%= render partial: 'shelf_items/as_list_item', as: :item,
      collection: shelf.shelf_items.reorder('created_at DESC') %>
  </div>

<% end %>
