<%= div_for shelf do %>
  <div class="header">
    <%= render 'header' %>
  </div>

  <div class="author">
    Visita guiada por <%= link_to shelf.user.name, shelf.user %>
  </div>

  <div class="references">
    <% shelf.shelf_items.each_with_index do |item, index| %>
      <h4 class="guide_index">
        <span><%= index + 1 %>. </span>
        <%= link_to item.reference.title, item.reference %>
      </h4>
      <%= render 'shelf_items/item', item: item %>
    <% end %>
  </div>
<% end %>

