<%= div_for shelf do %>
  <div class="header">
    <%= render 'header' %>
  </div>

  <%= render 'shelf_items/new_quick', shelf: shelf %>

  <div class="references list">
    <%= render 'filters' %>
    <%# cache ['list_items', shelf, shelf.shelf_items, shelf.references] do %>
      <%= render partial: 'shelf_items/as_list_item', as: :item,
        collection: shelf.shelf_items.includes([{:reference => [:license, :tags]}, :shelf, :user]).reorder('created_at DESC') %>
    <%# end %>
  </div>
<% end %>
