<%= div_for shelf do %>
  <div class="header">
    <%= render 'header' %>
    <div class="order">
      <%= param_link :v, icon('list', 'lista'), :list, default: shelf.visualization == 'list' %> | 
      <%= param_link :v, icon('th', 'iconos'), :icons, default: shelf.visualization == 'icons' %> | 
    </div>
  </div>

  <div class="row">
    <div class="span3 sidebar">
      <%= render 'left' %>
    </div>
    <div class="span7">
      <div class="references list">
        <%= render partial: 'shelf_items/as_list_item', as: :item,
          collection: shelf.shelf_items.reorder('created_at DESC') %>
      </div>
    </div>
  </div>

<% end %>
