<%= simple_form_for shelf, url:
  (shelf.new_record? ? shelves_path(library: library) :
   shelf_path(shelf, library: library)) do |form| %>
   <%= form.input :name %>
   <%= form.input :slug if permitted_params.include?(:slug) %>
   <%= form.input :description %>
   <%= form.input :color, collection: Color.collection, include_blank: false,
     input_html: {class: 'color-select'} %>
   <%= form.input(:visualization, collection:
       tc('shelf.visualizations', Shelf::VISUALIZATIONS), 
       include_blank: false) %>
  <%= admin_area do %>
    <%= form.input :library_id, include_blank: false, 
      collection: Library.all %>
    <%= form.input :featured %>
    <%= form.input :protected %>
    <%= form.input :user_id %>
  <% end %>
   <div class="alert alert-success">
     <%= form.submit 'Guardar' %>
   </div>
 <% end %>

   <%= render 'markdown' %>
   <%= simple_debug permitted_params %>
