<div class="bloc">
  <div class="count" style="background-color: <%= shelf.color %>">
    <%= icon 'book', shelf.references_count %>
    <%= icon 'eye-open', shelf.followers_count %>
  </div>
  <h1>
    <%= link_to_unless_current shelf.name, shelf_path(shelf, library: shelf.library) %>
    <%= icon('certificate') if shelf.featured? %>
  </h1>
</div>

<div class="actions">
  <%= link_to t('app.edit'), edit_shelf_path(shelf, library: library) if can? :update, shelf %>
</div>
