<%= right_arrow_link_to t('shelves.new_reference'),
  new_shelf_item_path(s: shelf), data: {action: 'add_shelf_item' } %>
<% if shelf.description? %>
  <div class="hand"></div>
<% end %>
<% if shelf.description? %>
  <div class="black">
    <%= markdown shelf.description %>
  </div>
  <div class="curtain"></div>
<% end %>

<!-- TODO: remove view
<div class="shelf_view">
  <h5>Ver como...</h5>
  <a href="#" id="as_list"><i class="icon-list"></i> Lista</a>
  <a href="#" id="as_icons"><i class="icon-th"></i> Iconos</a>
</div>
-->

<div class="filter tags">
  <%= render shelf.tags %>
</div>

<!-- TODO: remove view
<div class="editors">
<h5>Han participado:</h5>
<% shelf.editors.includes(:user).order('count DESC').each do |editor| %>
  <%= link_to editor.user, data: { editor: true, user_id: editor.user.id } do %>
    <%= avatar_img(editor.user) %> <%= editor.user.name %> (<%= editor.count %>)
  <% end %>
<% end %>
</div>
-->
