  <div class="black">
  <div class="shared">
    Iniciada por <%= link_to shelf.user.name, shelf.user %>
  <%= link_to avatar_img(shelf.user, 80), shelf.user %>
    <% if shelf.created_at? %>
      hace <%= time_ago_in_words shelf.created_at %>
<% end %>
    y <br>
    <%= link_to shelf_versions_path(shelf, library: shelf.library) do %>
      modificada hace <%= time_ago_in_words shelf.updated_at %>.
  <% end %>
    <p>
    <%= shelf.subscriptions_count %> seguidoras.
    <%= link_to 'ver.', shelf_versions_path(shelf, library: shelf.library) %>
    </p>
  </div>
</div>
<div class="curtain"></div>

<div class="action_list">
  <% if current_user %>
    <% subscription = shelf.subscription_for(current_user) %>
  <% if subscription %>
    <%= link_to icon('eye-close', 'Borrar suscripción'), 
      subscription, method: :delete,
      data: {confirm: '¿Quieres dejar de seguirlo?', 
             action: "unsubscribe" },
             class: 'action' %>
    <% else %>
      <%= link_to icon('eye-open', 'Suscribirse a esta estantería'), 
        subscriptions_path(s: shelf.slug), 
        method: :post, data: { action: "subscribe" },
        class: 'action' %>
    <% end %>
  <% end %>
  <%= link_to icon(:twitter, t('app.tweet')), 
    "https://twitter.com/share?url=#{request.url}", 
    target: '_blank' %>
</div>

