<div class="black">
  <div class="shared">
    Iniciada por <%= link_to shelf.user.name, shelf.user %>
    <%= link_to avatar_img(shelf.user, 80), shelf.user %>
  </div>

  <div class="followers">
    <div class="follow">
      <% if current_user.blank? %>
        <p>¿Quieres seguir esta lista?</p>
        <%= link_to 'Entra', login_path(from: request.path), class: 'btn btn-info' %>
      <% elsif (following = shelf.following_for(current_user)).blank? %>
        <p>¿Quieres recibir un email cuando esta lista cambie?</p>
        <%= link_to 'Seguir', 
          followings_path(s: shelf.slug), 
          method: :post, data: { action: "follow" },
          class: 'btn btn-success' %>
      <% else %>
        <p>¿No quieres recibir emails cuando esta lista sea modificada?</p>
      <%= link_to 'Dejar de seguir',
        following, method: :delete,
        data: {confirm: '¿Quieres dejar de seguirlo?', 
               action: "unfollow" },
               class: 'btn btn-danger' %>
      <% end %>
    </div>
    <h5>Siguen esta estantería:</h5>
    <ul>
      <% shelf.followings.each do |following| %>
        <li>
          <%= avatar_img following.user %> <%= link_to following.user.name, following.user %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="curtain"></div>

<div class="action_list">
  <%= link_to icon(:twitter, t('app.tweet')), 
    "https://twitter.com/share?url=#{request.url}", 
    target: '_blank' %>
</div>
