<%= div_for shelf do %>
  <div class="header">
  <div class="count"><%= shelf.references_count %> referencias</div>
  <h1><%= link_to_unless_current shelf.name, [shelf.library, shelf] %></h1>
  <p>
  En <%= link_to shelf.library.name, shelf.library %>. 
  Iniciada por <%= link_to shelf.user.name, shelf.user %>
hace <%= time_ago_in_words shelf.created_at %>
</p>
</div>
<div class="references">
  <%= render shelf.references %>
</div>
<% end %>

<%= content_for :social do %>
  <div class="content">
  <p>Esta estantería está amadrinada por:</p>
</div>
<div class="actions">
  <%= link_to 'Editar', [:edit, library, shelf] if can? :update, shelf %>
</div>
<% end %>


