<tr class="spacer"></tr>
<%= content_tag_for :tr, shelf, style: "background-color: #{shelf.color}" do %>
  <td class="left">
</td>
<td class="main">
  <div class="data">
    <%= link_to shelf.name, shelf_path(shelf, library: shelf.library), class: 'name' %>.&nbsp;
    <% if current_library != shelf.library %>
      En <%= link_to shelf.library.name, shelf.library, class: 'library' %>.
    <% end %>
    Iniciada por <%= link_to shelf.user.name, shelf.user %>.
    <span class="updated_at">Actualizada hace <%= time_ago_in_words shelf.updated_at %></span>
</div>
</td>
<td class="count">
  <%= shelf.references_count %>
</td>
<% end %>
