<tr class="spacer"></tr>
<%= content_tag_for :tr, shelf, style: "background-color: #{shelf.color}" do %>
  <td class="left">
</td>
<td class="main">
  <div class="data">
    <%= link_to shelf.name, [shelf.library, shelf], class: 'name' %>&nbsp;
    <% if current_library != shelf.library %>
      En <%= link_to shelf.library.name, shelf.library %>.
    <% end %>
    Iniciada por <%= link_to shelf.user.name, shelf.user %>
</div>
</td>
<td class="count">
  <%= shelf.references_count %>
</td>
<% end %>
