<% title "#{library.shelf_name.try(:capitalize)}s" %>
<%= div_for library do %>
  <div class="header">
  <div class="count">
    <%= pluralize(library.shelves.count, "#{library.shelf_name}s") %>
  </div>
  <h1><%= link_to library.name, root_path %></h1>
  <div class="actions">
    <%= link_to 'Editar acampada', [:edit, library],
      data: { action: 'edit-library' } if can? :update, library %>
  </div>
  <p>Estas son las <%= library.shelf_name %>s de <%= library.name %>.
</div>

<table class="shelves">
  <%= render library.shelves %>
</table>

<%= content_for :right do %>
  <div class="header">
    <h4>Actividad reciente</h4>
  </div>
  <div class="activity small">
    <%= render partial: 'versions/version_min', 
      collection: library_activity, as: :version %>
  </div>
<% end %>


<%= content_for :left do %>
  <% if can? :create, Shelf %>
  <%= right_arrow_link_to "Añadir #{library.shelf_name}", 
    new_shelf_path(library: library),
    data: { action: 'new-shelf' } %>
  <div class="hand"></div>
  <% end %>

    <div class="black">
      <article class="description">
        <%= markdown library.description %>
      </article>
    </div>
    <div class="curtain"></div>
    <% end %>
    <% end %>
