<% title library.name %>
  <div class="row">
  <div class="span3 sidebar">
    <% if can? :create, Shelf %>
    <%= right_arrow_link_to "Añadir estantería", 
      new_shelf_path(library: library),
      data: { action: 'new-shelf' } %>
    <div class="hand"></div>
    <% end %>

    <div class="black">
      <div class="shared">
        Iniciada por <%= link_to library.user.name, library.user %>
        <%= link_to avatar_img(library.user, 80), library.user %>
      </div>
      <article class="description">
        <%= markdown library.description %>
        <%= link_to 'Editar', [:edit, library], data: {
          action: 'edit-library'} if can?(:edit, library) %>
      </article>
      <div class="subscribe subscribe_all">
        <%# link_to "Seguir sus #{library.shelves.size} estanterías", library, class: 'btn btn-success' %>
      </div>
    </div>
    <div class="curtain"></div>
  </div>

  <div class="span9">
    <div class="row">
      <div class="span9 main">
      </div>
    </div>

    <div class="row">
      <% if library.guides? %>
        <div class="span6">
          <div class="header">
            <h3>Date un paseo</h3>
          </div>
          <%= render partial: 'guide', collection: library.ordered_shelves,
            as: :shelf %>
        </div>
        <div class="span3">
          <div class="header"><h3>Novedades</h3></div>
            <div class="references latests welcome">
              <%= render partial: 'shelf_items/as_list_item', as: :item,
                locals: { show_shelf: false },
                collection: ShelfItem.where(shelf_id: library.shelves.pluck(:id)).reorder('created_at DESC').limit(10) %>
            </div>
          </div>
        </div>
      <% else %>
      <div class="span3 shelves small">
        <div class="header">
          <h3>Estanterías</h3>
        </div>
        <%= render partial: 'shelves/item', collection: library.ordered_shelves,
          as: :shelf, locals: { reference: nil } %>
      </div>
      <div class="span6 ">
        <div class="header"><h3>Novedades en '<%= library.name %>'</h3></div>
          <div class="references latests">
            <%= render partial: 'shelf_items/as_list_item', as: :item,
              locals: { show_shelf: true },
              collection: ShelfItem.where(shelf_id: library.shelves.pluck(:id)).reorder('created_at DESC').limit(10) %>
          </div>
        </div>
      <% end %>
    </div><!-- row -->
  </div>

</div>
