<% title shelf.name %>
<%= div_for shelf do %>
  <div class="header">
  <div class="count" style="background-color: <%= shelf.color %>">
    <%= shelf.references_count %> referencias
  </div>
  <h1><%= link_to_unless_current shelf.name, [shelf.library, shelf] %></h1>
  <p>
  En <%= link_to shelf.library.name, shelf.library %>. 
  Iniciada por <%= link_to shelf.user.name, shelf.user %>
hace <%= time_ago_in_words shelf.created_at %>.
  Actualizada hace <%= time_ago_in_words shelf.updated_at %>
</p>
</div>
<div class="references">
  <%= render shelf.references %>
</div>
<% end %>

<%= content_for :left do %>
  <%= right_arrow_link_to raw('Añadir Referencia'), new_reference_path(s: shelf) %>
<div class="hand"></div>
<div class="black">
  <%= markdown shelf.description %>
</div>
<div class="curtain"></div>
<div class="actions">
  <%= link_to 'Editar lista', [:edit, library, shelf] if can? :update, shelf %>
  <%= link_to 'Borrar', [library, shelf], method: :delete,
    data: {confirm: t('shelves.delete_confirm', name: shelf.name), 
           action: "delete-shelf-#{shelf.id}" } if can? :delete, shelf %>
       </div>
       <% end %>

         <%= content_for :right do %>
           <div class="header">
           <h4>Actividad reciente</h4>
         </div>
         <%= render activity.versions %>
       <% end %>
