<% title shelf.name %>
<%= div_for shelf do %>
  <div class="header">
    <div class="count" style="background-color: <%= shelf.color %>">
      <%= shelf.references_count %> referencias
  </div>
  <h1><%= link_to_unless_current shelf.name, [shelf.library, shelf] %></h1>
  <p>
  En <%= link_to shelf.library.name, shelf.library %>. 
  Iniciada por <%= link_to shelf.user.name, shelf.user %>
hace <%= time_ago_in_words shelf.created_at %>.
  Actualizada hace <%= time_ago_in_words shelf.updated_at %>
</p>
</div>
<div class="references">
  <%= render shelf.references %>
</div>
<% end %>

<%= content_for :left do %>
  <%= right_arrow_link_to raw('+&nbsp;Referencia'), new_reference_path(s: shelf) %>
<div class="hand"></div>
<div class="black">
  <%= markdown shelf.description %>
</div>
<div class="curtain"></div>
<% end %>

<%= content_for :right do %>
  <div class="header">
    <h5>¿Qué licencias quieres ver?</h5>
  </div>
  <%= link_to 'Todas', library_shelf_path(shelf.library, shelf) %><br>
  <%= link_to 'Libres', library_shelf_path(shelf.library, shelf) %><br>
  <%= link_to 'Copyright', library_shelf_path(shelf.library, shelf) %><br>
  <div class="header top">
    <h5>¿En qué orden quieres mostrarlas?</h5>
  </div>
  <%= link_to 'En orden de añadido' %><br>
  <%= link_to 'Las más recientes, al final' %><br>
  <div class="actions">
  <%= link_to 'Editar lista', [:edit, library, shelf] if can? :update, shelf %>
</div>
<% end %>
