<% title shelf.name %>
<%= div_for shelf do %>
  <div class="header">
  <div class="count" style="background-color: <%= shelf.color %>">
    <%= shelf.references_count %> referencias
  </div>
  <h1><%= link_to_unless_current shelf.name, shelf_path(shelf, library: shelf.library) %></h1>
  <div class="actions">
    <%= link_to t('app.edit'), edit_shelf_path(shelf, library: library) if can? :update, shelf %>
    <%= link_to t('app.delete'), shelf_path(shelf, library: library), method: :delete,
      data: {confirm: t('shelves.delete_confirm', name: shelf.name), 
             action: "delete-shelf-#{shelf.id}" } if can? :delete, shelf %>
         </div>
           <p class="info">
           En <%= link_to shelf.library.name, "/#{shelf.library.slug}" %>. 
           Actualizada hace <%= time_ago_in_words shelf.updated_at %>.
           Ver <%= link_to 'actividad', shelf_activity_path(shelf, library: shelf.library) %>
         </p>
         </div>
         <div class="references">
           <%= render shelf.references %>
         </div>
       <% end %>

         <%= content_for :right do %>
           <div class="black">
           <div class="shared">
             Iniciada por <%= link_to shelf.user.name, shelf.user %>
             <%= link_to avatar_img(shelf.user, 80), shelf.user %>
             <% if shelf.created_at? %>
               hace <%= time_ago_in_words shelf.created_at %>
            <% end %>
            y <br>modificada hace 
            <%= time_ago_in_words shelf.updated_at %>.
            <p>
              <%= link_to shelf_activity_path(shelf, library: shelf.library) do %>
                <%= shelf.subscriptions_count %> seguidoras.
              <% end %>
            </p>
           </div>
         </div>
         <div class="curtain"></div>

         <div class="social_actions">
           <% if current_user %>
             <% subscription = shelf.subscription_for(current_user) %>
           <% if subscription %>
             <%= link_to icon('eye-close', 'Dejar de seguir'), subscription, method: :delete,
               data: {confirm: '¿Quieres dejar de seguirlo?', 
                      action: "unsubscribe" },
                      class: 'action' %>
                  <% else %>
                        <%= link_to icon('eye-open', 'Seguir'), subscriptions_path(s: shelf.slug), 
                          method: :post, data: { action: "subscribe" },
                          class: 'action' %>
                      <% end %>
                        <% end %>
                          <%= link_to icon(:twitter, t('app.tweet')), "https://twitter.com/share?url=#{request.url}", target: '_blank' %>

                        </div>
                      <% end %>

                        <%= content_for :left do %>
                          <%= right_arrow_link_to t('shelves.new_reference'), new_shelf_item_path(s: shelf) %>
                        <div class="hand"></div>
                        <div class="black">
                          <%= markdown shelf.description %>
                        </div>
                        <div class="curtain"></div>
                      <% end %>

