<td>
  <p>
  ¡Hola <%= @notification.user.name %>! 
  Una lista que sigues ha cambiado:
  </p>

  <p>
  <%= link_to @user.name, user_url(@user) %>
  <%= I18n.t("versions.events.#{@version.event}") %>
  la referencia
  "<%= link_to @reference.title, reference_url(@reference) %>"
  a
  "<%= link_to @shelf.name, shelf_url(@shelf, library: @shelf.library) %>"
  </p>
</td>

