<%= simple_form_for [reference, download] do |form| %>
  <%= form.input :name %>
  <%= form.input :description %>
  <div class="upload">
    <fieldset>
      <%= form.input :remote_cover_image_url %>
      <%= form.input :remote_file_url %>
    </fieldset>
    <fieldset>
      <%= form.input :cover_image %>
      <%= form.input :file %>
    </fieldset>
  </div>
  <%= form.submit %>
<% end %>
<%= simple_debug download.errors %>
