<%= div_for download, class: 'verbose' do %>
  <%= image_tag(download.cover_image.main.url, alt: reference.title,
                class: 'cover') %>
  <h4><%= download.name %></h4>
  <%= markdown download.description %>
  <%= link_to download_path(download.title), class: 'download_file' do %>
    <%= image_tag('icons/download.png') %> Descargar
    <span class="size">
      (<%= "#{download.extension}, " if download.extension.present? %>
      <%= number_to_human_size download.file_size %>)
    </span>
  <% end %>
<% end %>
