<div class="header">
  <%= title 'Editar descarga' %>
  <%= link_to icon('arrow-left', "Cancelar, y volver a '#{reference.title}'"), reference %>
</div>

<h2>
  <%= download.description %>
  <small><%= download.title %> (<%= number_to_human_size download.file_size %>,
  <%= download.content_type %>)</small>
</h2>
<%= image_tag(download.cover_image.main.url) if download.cover_image? %>
<%= render 'form' %>

<% if can? :destroy, reference %>
  <div class="alert alert-error">
    <div class="actions">
      <%= link_to 'Borrar', [reference, download], method: :delete,
        data: { confirm: '¿Segura?', action: 'delete-download' } %>
    </div>
  </div>
<% end %>

