<div class="header">
  <%= title "Descargas" %>
  <%= link_to 'Volver', reference %>
</div>

<% if reference.downloads.all.size == 0 %>
  <p>Ahora mismo '<%= link_to reference.title, reference %>' no tiene ningún enlace de descarga.</p>
<% else %>
  <table class="table">
    <% reference.downloads.each do |download| %>
      <tr>
        <td><%= link_to download.description, download.url %></td>
        <td><%= download.host %></td>
        <td><%= download.mime_type %></td>
        <td>
          <%= link_to 'Borrar', [reference, download], method: :delete,
          data: { confirm: '¿Quieres borrar esta descarga?',
                  action: "delete-#{download.id}" } if can? :destroy, download %>
              </td>
      </tr>
    <% end %>
  </table>
<% end %>
<br>

<h4>Añadir enlace de descarga</h4>
<%= render 'form' %>
