<div class="header">
  <%= title "Descargas" %>
  <%= link_to 'Volver', reference %>
</div>
<h3><%= link_to reference.title, reference %></h3>

<% if reference.downloads.all.size == 0 %>
  <p>Ahora mismo '<%= link_to reference.title, reference %>' no tiene ningún enlace de descarga.</p>
<% else %>
  <div class="downloads">
  <%= render reference.downloads %>
</div>
<% end %>

<%= content_for :left do %>
<div class="header">
  <h4>Añadir enlace de descarga</h4>
</div>
<%= render 'form' %>
<% end %>
