<div class="header">
  <%= title t('downloads.index', title: reference.title) %>
  <%= link_to icon('arrow-left', t('app.backto', title: reference.title)), reference %>
</div>

<% if reference.downloads? %>
  <table class="table">
    <% downloads.each do |download| %>
      <tr>
        <td><%= download.cover_image %></td>
        <td><%= download.title %></td>
        <td>Descargado <%= download.download_count %> veces.</td>
        <td><%= download.content_type %></td>
        <td><%= number_to_human_size download.file_size %></td>
        <td class="actions">
          <%= link_to 'Borrar', [reference, download],
            method: :delete, class: 'action', data: {
            confirm: '¿Quieres borrar esta descarga?',
            action: "delete-download-#{download.id}" } if
            can?(:destroy, download) %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>No se ha subido ninguna descarga a esta ficha.</p>
<% end %>

<% if can? :manage, Download %>
  <h2>Añadir una descarga</h2>
  <%= render 'form' %>
<% end %>
