<% cache ['curtain', user] do %>
<div class="black">
  <div class="shared">
    <p><%= user.name %></p>
    <%= avatar_img(user, 80) %>
    En <%= link_to 'bookcamping', users_path %> desde hace <%= time_ago_in_words user.created_at %>
  <ul class="stats">
    <li><%= icon 'upload' %> Ha subido <%= user.references_count %> referencias.</li>
    <li><%= icon 'star' %> Ha hecho <%= user.recommendations_count %> recomendaciones.</li>
    <li><%= icon 'bookmark-empty' %> Sigue <%= user.subscriptions_count %> listas.</li>
    </ul>
  </div>
</div>
<div class="curtain"></div>
<% end %>

<div class="action_list">
    <p><%= icon 'bullhorn' %> Tiene <%= user.followers_count %> seguidoras.</p>
    <p><%= icon 'user' %> Sigue a <%= user.follows_count %> personas.</p>
  <% if current_user %>
    <% following = current_user.following(user) %>
    <% if following.present? %>
      <%= link_to icon('eye-close', t('app.unfollow')), following,
        method: :delete, class: 'action', 
        data: { action: 'unfollow',
         confirm: "¿Quieres dejar de seguir a '#{user.name}'?" } %>
    <% else %>
      <%= link_to icon('eye-open', t('app.follow')), 
        followings_path(u: user), method: :post, class: 'action',
        data: { action: 'follow' } %>
  <% end %>
<% end %>
</div>


