<div class="header">
  <%= title "Editar perfil" %>
  <%= link_to t('app.cancel'), user %>
</div>

<%= simple_form_for user do |form| %>
  <%= form.input :name %>
<%= form.input :email %>
<%= form.input :twitter %>
<%= form.input :description, as: :text %>
<%= form.input :avatar %>
<h5>Emails de actividad</h5>
<%= form.input :email_notifications %>
<%= form.input :site_member if current_user.site_member? %>
<h5>Cambiar contraseña</h5>
<p>Si no quieres cambiar la contraseña, deja estos campos en blanco.</p>
<%= form.input :password %>
<%= form.input :password_confirmation %>
<%= form.submit 'Actualizar perfil' %>
  <% end %>
