<% title user.name %>
<%= content_tag_for :article, user do %>
  <div class="header">
  <div class="count"><%= user.versions_count %> aportaciones.</div>
  <%= avatar_img(user, 40) %>
  <h1><%= user.name %><small> <%= user.description %></small></h1>
  <div class="actions">
    <%= link_to 'Editar perfil', [:edit, user] if can? :edit, user %>
  </div>
  En <%= link_to 'bookcamping', users_path %> desde hace <%= time_ago_in_words user.created_at %>
</div>
<% end %>

<%= render user_activity.versions %>

<%= content_for :left do %>
  <div class="header">
  <h4>Listas que sigues</h4>
</div>
<table class="shelves small">
  <%= render user.subscribed %>
</table>
<% end %>

<%= content_for :right do %>
<% end %>


