<div class="mobject shelf_item" 
  data-user_id="<%= item.user_id %>"
  data-tags="<%= item.reference.tag_names %>" >
  <a name="ver-<%= item.reference.to_param %>"></a>
  <div class="img">
    <%= render item.reference, shelf: item.shelf %>
  </div>
  <div class="payload">
    <div class="title"><%= link_to item.reference.title, item.reference %></div>
      <%= render 'shelf_items/info', item: item %>
      <div class="shelves small">
        <%= render 'shelves/item', shelf: item.shelf, reference: item.reference %>
      </div>
      <div class="description">
        <%= markdown item.reference.description, length: 400, clean: true %>
      </div>
  </div>
</div>
