<span class="item_info">
  <% if item.user %>
    Por <%= link_to item.user do %>
    <%= avatar_img item.user %><%= item.user.name %>
  <% end %>
&rarr;
  <% end %>
    <% if item.created_at? %>
      <%= icon('calendar') %>hace <%= time_ago_in_words item.created_at %>
  <% end %>
  <%= render 'tags/tags', tags: item.reference.tags %>
</span>
