<%= simple_form_for library do |form| %>
  <%= form.input :name %>
  <%= form.input :slug %>
  <%= form.input :ltype, collection: tc('libraries.ltypes', Library::LTYPES), include_blank: false %>
  <%= form.input :shelf_name %>
  <%= form.input :description, as: :text %>
  <%= form.input :logo %>
  <%= form.input :shelves_order,
    collection: tc('libraries.shelves_order', Library::SHELVES_ORDER),
    include_blank: false %>
  <div class="submit">
    <%= form.submit %>
  </div>
  <%= admin_area do %>
    <%= form.input :protected, wrapper: :checkbox %>
    <%= form.input :user_id %>
  <% end %>
<% end %>
<%= simple_debug library %>
