<% title library.name %>
  <div class="row">
  <div class="span3 sidebar">
    <% if can? :create, Shelf %>
    <%= right_arrow_link_to "Añadir estantería",
      new_shelf_path(library: library),
      data: { action: 'new-shelf' } %>
    <div class="hand"></div>
    <% end %>

    <div class="black">
      <div class="shared">
        Iniciada por <%= link_to library.user.name, library.user %>
        <%= link_to avatar_img(library.user, 80), library.user %>
      </div>
      <article class="description">
        <%= markdown library.description %>
      </article>
      <div class="subscribe subscribe_all">
        <%# link_to "Seguir sus #{library.shelves.size} estanterías", library,
          class: 'btn btn-success' %>
      </div>
    </div>
    <div class="curtain"></div>
  </div>

  <div class="span9">
    <div class="row">
      <div class="span9 main">
        <div class="header">
          <% if can?(:edit, library) %>
            <div class="actions">
              <%= link_to 'Editar', [:edit, library], data: { action: 'edit-library'} %>
            </div>
          <% end %>
          <h2><%= link_to 'Biblioteca', libraries_path %></h2>
          <h1><%= library.name %></h1>
          <div class="social">
            Iniciada el <%= l library.created_at, format: :date_only %> por <%= link_to library.user.name, library.user %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <% if library.guides? %>
        <%= render 'libraries/as_guides' %>
      <% elsif library.ltype == Library::PUBLISHER %>
        <%= render 'libraries/as_publisher' %>
      <% else %>
        <%= render 'libraries/as_library' %>
      <% end %>
    </div><!-- row -->
  </div>
</div>
