<% title library.name %>
  <div class="row">
  <div class="span3 sidebar">
    <% if can? :create, Shelf %>
    <%= right_arrow_link_to "Añadir estantería", 
      new_shelf_path(library: library),
      data: { action: 'new-shelf' } %>
    <div class="hand"></div>
    <% end %>

    <div class="black">
      <div class="shared">
        Iniciada por <%= link_to library.user.name, library.user %>
        <%= link_to avatar_img(library.user, 80), library.user %>
      </div>
      <article class="description">
        <%= markdown library.description %>
        <%= link_to 'Editar', [:edit, library], data: {
          action: 'edit-library'}, class: 'btn btn-info' if can?(:edit, library) %>
      </article>
      <div class="subscribe subscribe_all">
        <%# link_to "Seguir sus #{library.shelves.size} estanterías", library,
          class: 'btn btn-success' %>
      </div>
    </div>
    <div class="curtain"></div>
  </div>

  <div class="span9">
    <div class="row">
      <div class="span9 main">
      </div>
    </div>

    <div class="row">
      <% if library.guides? %>
        <%= render 'libraries/as_guides' %>
      <% else %>
        <%= render 'libraries/as_library' %>
      <% end %>
    </div><!-- row -->
  </div>
</div>

