<div class="header">
  <%= title "Editar #{library.name}" %>
  <%= link_to 'Cancelar', library %>
</div>
<%= render 'form' %>


<%= content_for :left do %>
  <section class="memberships">
  <div class="header">
    <h3>Madrinas de esta acampada</h3>
    <p>Las madrinas tienen permisos especiales sobre la acampada
    y además reciben notificaciones sobre todos los cambios que
    se producen en ella.</p>
    <br>
    <%= render 'memberships/form', membership: Membership.new(resource: library) %>
  </div>
  <%= render library.memberships %>
  <%= content_tag(:p, 'No hay madrinas') if library.memberships_count == 0 %>
</section>
<% end %>
