<% title library.name %>
<%= div_for library do %>
  <div class="header">
  <div class="count"><%= library.shelves.count %></div>
  <h1><%= link_to library.name, root_path %></h1>
</div>

<table class="shelves">
  <%= render library.shelves %>
</table>

<%= content_for :right do %>
  <div class="actions">

  <%= link_to 'Editar acampada', [:edit, library] if can? :update, library %>
</div>
<% end %>
<%= content_for :left do %>
  <% if can? :edit, library %>
  <%= right_arrow_link_to 'Añadir lista', new_library_shelf_path(library),
    data: { action: 'edit-library' } %>
  <div class="hand"></div>
  <% end %>

    <div class="black">
      <article class="description">
        <%= markdown library.description %>
      </article>
    </div>
    <div class="curtain"></div>
  <% end %>
  <% end %>
