<div class="header">
  <%= title "Enlaces relacionados" %>
  <%= link_to t('app.backto', title: reference.title), reference %>
</div>

<% if reference.links? %>
  <table class="links table">
    <% links.each do |link| %>
        <% if link.persisted? %>
        <tr>
          <td><%= render link %></td>
          <td class="actions">
            <%= link_to 'Editar', [:edit, reference, link],
              class: 'action' if can? :edit, link %>
            <%= link_to 'Borrar', [reference, link],
              method: :delete, class: 'action',
              data: { action: "delete-link-#{link.id}",
              confirm: "¿Quieres borrar #{link.description}?" } if
              can? :destroy, link %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% else %>
  <p>Ahora mismo '<%= link_to reference.title, reference %>' no tiene ningún enlace de descarga.</p>
<% end %>

<% if can? :create, Link %>
<h2>Añadir enlace relacionado</h2>
<%= render 'form' %>
<% end %>
