<div class="header">
  <%= title "Republicar #{reference.title}" %>
</div>

<%= simple_form_for repub, url: [reference, :repub] do |form| %>
  <%= form.input :body %>
<%= form.input :content_type, collection: [:html, :markdown, :text], 
  include_blank: false %>
<%= form.submit %>
<% end %>

  <h3>Previsualización</h3>

  <div class="repub">
    <%= raw content %>
  </div>
