<%= div_for version do %>
  <span class="icon"><i class="<%= version_item_icon(version) %>"></i></span>
<span class="user"><%= link_to version.user.name, version.user %></span>
<span class="event">ha <%= t("versions.events.#{version.event}") %></span>
<span class="item">
  <% if Object.const_defined?(version.item_type) %>
    <%= link_to truncate(version.title), version.item_type %>
<% else %>
    <%= version.item_type %>
<% end %>
</span>
<span class="time">hace <%= time_ago_in_words version.created_at if version.created_at? %></span>
<% end %>

