<% cache version do %>
  <%= div_for version, class: 'mobject' do %>
    <div class="img">
      <span class="user">
      <% if version.user.present? %>
      <%= link_to avatar_img(version.user), 
      version.user %>
      <% end %>
      </span>
      <span class="icon"><%= version_item_icon(version) %></span>
    </div>
    <div class="payload">
      <div class="action">
        <%= link_to version.user.name, version.user if version.user.present? %>
        <span class="event">
          <%= t("versions.events.#{version.item_type}.#{version.event}", 
            default: t("versions.events.#{version.event}")) %>
        </span>
        <span class="time">
          hace <%= time_ago_in_words version.created_at if version.created_at? %>
          <%= link_to 'ver', version if Rails.env.development? %>
        </span>
      </div>
      <div class="info">
        <% if version.reference %>
          <%= render 'references/reference_item', reference: version.reference %>
        <% elsif version.shelf %>
          <%= render 'shelves/shelf_item', shelf: version.shelf %>
        <% else %>
          <span class="item">
          <% if version.item_type == 'ShelfItem' && version.event == 'create' && version.item %>
          <%= link_to truncate(version.item.reference.title), version.item.reference if version.item.reference %>
          <%= t('versions.events.ShelfItem.into') %>
          <% end %>
          <% if version.item_type == 'Bookmark' || version.item_type == 'Post' ||
          version.item_type == 'Page' || version.item.blank? %>
          <%= truncate(version.title) %>
          <% elsif version.item_type == 'Shelf' %>
          <%= link_to_unless_current truncate(version.title), shelf_path(version.item, library: version.item.library) %>
          <% else %>
          <%= link_to_unless_current truncate(version.title), version.item %>
          <% end %>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

