<% cache version do %>
  <%= div_for version, class: 'mobject' do %>
    <div class="img">
      <span class="user">
      <% if version.user.present? %>
      <%= link_to avatar_img(version.user), 
      version.user, class: 'user_link' %>
      <% end %>
      </span>
      <span class="icon"><%= version_item_icon(version) %></span>
    </div>
    <div class="payload">
      <div class="action">
        <%= link_to version.user.name, version.user if version.user.present? %>
        <span class="event">
          <%= t("versions.events.#{version.item_type}.#{version.event}", 
            default: t("versions.events.#{version.event}")) %>
        </span>
        <span class="time">
          hace <%= time_ago_in_words version.created_at if version.created_at? %>
          <%= link_to 'ver', version if Rails.env.development? %>
        </span>
      </div>
      <div class="info">
        <% if version.reference %>
          <%= render 'references/reference_item', reference: version.reference %>
        <% elsif version.shelf %>
          <%= render 'shelves/shelf_item', shelf: version.shelf %>
        <% else %>
          <%= version.title %> (<%= version.item_type %>)
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

