<div class="header">
  <div class="count"><%= shelf.subscriptions_count %></div>
  <h4>Seguidoras</h4>
  <p>Sigue esta <%= shelf.library.shelf_name %> para
  recibir emails cuando cambie.</p>
</div>
<div class="subscriptors">
  <% if current_user %>
      <% subscription = shelf.subscription_for(current_user) %>
    <% if subscription %>
      <%= link_to 'Dejar de seguir', subscription, method: :delete,
        data: {confirm: '¿Quieres dejar de seguirlo?', 
        action: "unsubscribe" },
        class: 'action' %>
    <% else %>
      <%= link_to 'Seguir', subscriptions_path(s: shelf.slug), 
          method: :post, data: { action: "subscribe" },
          class: 'action' %>
    <% end %>
  <% end %>

  <% parent.subscriptions.each do |subscription| %>
    <%= div_for subscription do %>
      <%= avatar_img(subscription.user) %>
      <%= link_to subscription.user.name, subscription.user %>
    <% end %>
  <% end %>
</div>
