<% if search_term %>
  <div class="header">
  <%= title "Referencias con '#{search_term}'" %>
</div>

<div class="reference_list">
  <%= render partial: 'references/reference_item', 
    collection: references_search, as: :reference %>
</div>

  <%= content_for :left do %>
    <div class="header">
    <%= title "Listas con '#{search_term}'" %>
  </div>
  <table class="shelves small">
    <%= render shelves_search %>
  </table>
<% end %>

  <%= content_for :right do %>
    <div class="header">
    <%= title "Etiquetas con '#{search_term}'" %>
  </div>
    <%= render tags_search %>
<% end %>


<% else %>
    <div class="header">
    <%= title 'Buscar' %>
    <p>Lo que quieres buscar debe tener, al menos, tres letras</p>
  </div>
<% end %>

