<div class="header">
  <%= title(refsearch.term ? "Buscar '#{refsearch.term}'" : 'Buscar') %>
  <p><%= refsearch.error ? refsearch.error : "#{refsearch.count} referencias encontradas" %></p>
</div>
<%= form_tag '/buscar' do %>
  <%= text_field_tag :term, refsearch.term %>
<button id="submit-search" type="submit">
  <i class="icon-search"></i>
</button>
<% end %>

<div class="reference_list">
  <%= render partial: 'references/reference_item', 
    collection: refsearch.references, as: :reference %>
</div>

