<% title 'Bienvenida' %>
<div class="header">
  <h2>Lo más candente</h2>
</div>
<table class="shelves">
  <%= render most_active_shelves %>
</table>
<div class="header top">
  <h2>Últimas referencias</h2>
</div>
<div class="references">
  <%= render recent_references %>
</div>

<%= content_for :left do %>
  <div class="black">
  <h3>Hola, bienvenida</h3>
  <p>Bookcamping a la luz del 15m, y te invita a compartir y 
  descubir lugares, libros, vídeos y sonidos relacionados
  con una visión crítica en un sentido amplio.</p>
  <p>Para descubrir, date una vuelta. Para compartir, 
  <%= link_to 'entra', login_path %></p>
</div>
<div class="curtain"></div>
<div class="tags">
  <%= render Tag.all %>
</div>
<% end %>

<%= content_for :right do %>
  <div class="header">
  <h4>Actividad reciente</h4>
</div>
<%= render site_activity.versions %>
<% end %>
