<% title 'Bienvenida' %>
<div class="header">
  <h2>Estanterías y listas más activas</h2>
</div>
<table class="shelves">
  <%= render most_active_shelves %>
</table>
<div class="header top">
  <h2><%= link_to t('references.index'), references_path %></h2>
  <%= link_to t('app.more'), references_path %>
</div>
<div class="references">
  <%= render latest_references %>
</div>

<%= content_for :left do %>
  <div class="black">
  <h3>Hola, bienvenida</h3>
  <p>Bookcamping es una biblioteca digital colaborativa que reseña y enlaza recursos licenciados en su mayoría con licencias abiertas. También es una herramienta, un lugar, una comunidad, un dispositivo inacabado donde puedes entrar a bajar, subir, agrupar y etiquetar documentos que contribuyan a crear un fondo común abierto que nos ayude a repensar el mundo. </p>
  <p>Entra, bichea, comparte, busca y descubre libros, personas, sitios, vídeos y sonidos relacionados, además de por su contenido crítico, por un modo de entender la producción, distribución y difusión de contenidos. El fondo y los protocolos de esta mediateca los componemos y disfrutamos entre todas. Hazte bookcamper y a gozarla. </p>
</div>
<div class="curtain"></div>
<div class="tags">
  <%= render Tag.all %>
</div>
<% end %>

<%= content_for :right do %>
  <div class="header">
  <h4><%= link_to t('app.activity'), versions_path %></h4>
  <p>Estos son los últimos movimientos en todas las acampadas bookcamping.</p>
</div>
<div class="activity small">
<%= render site_activity %>
</div>
<%= link_to t('app.more'), versions_path %>
<% end %>
