<% title 'Bienvenida' %>
<div class="header">
  <h2>Lo más candente</h2>
  <p>Estas son las estanterías/listas 
  más activas del momento.</p>
</div>
<table class="shelves">
  <%= render most_active_shelves %>
</table>
<div class="header top">
  <h2><%= link_to t('references.index'), references_path %></h2>
<%= link_to t('app.more'), references_path %>
</div>
<div class="references">
  <%= render latest_references.references %>
</div>

<%= content_for :left do %>
  <div class="black">
  <h3>Hola, bienvenida</h3>
  <p>Bookcamping te invita a compartir y 
  descubir personas, lugares, libros, vídeos y sonidos relacionados
  con una visión crítica del mundo, en un sentido amplio.</p>
  <p>Bookcamping está dividido en acampadas, actualmente tres 
  : <a href="/estanterias">bookcamping</a>,
  <a href="/videoclub">videocamping</a> y <a href="/listas">listas
    compartidas</a></p>
</div>
<div class="curtain"></div>
<div class="tags">
  <%= render Tag.all %>
</div>
<% end %>

<%= content_for :right do %>
  <div class="header">
  <h4><%= link_to t('app.activity'), activity_path %></h4>
  <p>Estos son los últimos movimientos en todas las acampadas bookcamping.</p>
</div>
<%= render site_activity.versions %>
<%= link_to t('app.more'), activity_path %>
<% end %>
