<% title 'Bienvenida' %>
<div class="row dashboard welcome">
  <div class="sidebar left span3">
    <div class="black">
      <h3>Hola, bienvenida</h3>
      <p>Bookcamping es una biblioteca digital colaborativa que reseña y enlaza recursos licenciados en su mayoría con licencias abiertas. También es una herramienta, un lugar, una comunidad, un dispositivo inacabado donde puedes entrar a bajar, subir, agrupar y etiquetar documentos que contribuyan a crear un fondo común abierto que nos ayude a repensar el mundo. </p>
      <p>Entra, bichea, comparte, busca y descubre libros, personas, sitios, vídeos y sonidos relacionados, además de por su contenido crítico, por un modo de entender la producción, distribución y difusión de contenidos. El fondo y los protocolos de esta mediateca los componemos y disfrutamos entre todas. Hazte bookcamper y a gozarla. </p>
      <a class="twitter-timeline" height="300" href="https://twitter.com/bookcamping" data-chrome="noheader nofooter noborder transparent" data-widget-id="325753075321151488"></a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="curtain"></div>
    <div class="tags">
      <%= render tags %>
      <div><%= link_to t('app.more'), tags_path %></div>
    </div>
  </div>


  <div class="span9">
    <div class="main_top row">
      <div class="span6 main">
        <div class="header">
          <h3><a href="/destacadas">Estanterías destacadas <small>&rarr;</small></a></h3>
        </div>
        <div class="row">
          <% Site.featured_shelves.includes(:library).limit(2).each do |shelf| %>
            <div class="span3 shelves small">
              <%= render 'shelves/item', shelf: shelf %>
              <%= markdown shelf.description, length: 800 %>
            </div>
          <% end %>
        </div>
      </div> <!-- span6.main -->

      <div class="span3 main">
        <div class="header">
          <h3><a href="/editoras">¡Publica aquí! <small>&rarr;</small></a></h3>
        </div>
        <div class="cover responsive">
          <% Site.featured_published_reference.try do |reference| %>
            <%= link_to image_tag(reference.cover_image.main.url), reference %>
            <h4><%= link_to reference.title.upcase, reference %></h4>
            <%= markdown reference.description, length: 300 %>
          <% end %>
        </div>
      </div> <!-- span3.main -->
    </div> <!-- row.main_top -->

    <div class="row main_bottom">
      <div class="span6">
        <div class="header top">
          <h3><a href="<%= libraries_path %>">Bibliotecas <small>&rarr;</small></a></h3>
        </div>
        <div class="featured_libraries row">
          <% Site.featured_libraries.each do |library| %>
            <div class="span3">
              <%= render library %>
            </div>
          <% end %>
        </div> <!-- featured_libraries.row -->
      </div> <!-- span6 -->

      <div class="span3">
        <div class="header top">
          <h3>Novedades</h3>
        </div>
        <div class="references latests welcome">
          <%= render partial: 'shelf_items/as_list_item', as: :item,
            locals: { show_shelf: true },
            collection: ShelfItem.reorder('created_at DESC').
              includes(:reference, :user).limit(5) %>
        </div>
      </div> <!-- span3 -->
    </div> <!-- main_bottom.row -->
  </div> <!-- span9 -->
</div> <!-- row -->
