<% title 'Bienvenida' %>
<div class="row">
  <div class="sidebar left span3">
    <div class="black">
      <h3>Hola, bienvenida</h3>
      <p>Bookcamping es una biblioteca digital colaborativa que reseña y enlaza recursos licenciados en su mayoría con licencias abiertas. También es una herramienta, un lugar, una comunidad, un dispositivo inacabado donde puedes entrar a bajar, subir, agrupar y etiquetar documentos que contribuyan a crear un fondo común abierto que nos ayude a repensar el mundo. </p>
      <p>Entra, bichea, comparte, busca y descubre libros, personas, sitios, vídeos y sonidos relacionados, además de por su contenido crítico, por un modo de entender la producción, distribución y difusión de contenidos. El fondo y los protocolos de esta mediateca los componemos y disfrutamos entre todas. Hazte bookcamper y a gozarla. </p>
    </div>
    <div class="curtain"></div>
    <div class="tags">
      <%= render tags %>
      <div><%= link_to t('app.more'), tags_path %></div>
    </div>
  </div>

  <div class="span6">
    <div class="row">
      <div class="span6 main">
        <div class="header">
          <h2>Acampadas #bookcamping</small></h2>
          <p class="info">
          Las estanterías en #bookcamping se organizan por acampadas. <%= link_to 'bookcamping' %> y <%= link_to 'videocamping' %> fueron las primeras en nacer, ambas dedicadas
          a tomar la plaza y el movimiento 15m. 
          </p>
          <p class="info">
          En <%= link_to 'Listas compatridas', '/listas' %>, tú o tu grupo
          podéis crear una bibliografía compartida o una agrupación de textos
          sobre una temática determinada.
          </p>
          <p class="info">Pero éstas no son todas, <%= link_to 'hay más', libraries_path %></p>
        </div>
      </div>
      <% Site.featured_libraries.each do |library| %>
        <div class="span3">
          <%= render library %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="span3 main">
    <div class="header">
      <h2>Novedades</h2>
    </div>
        <div class="references latests welcome">
          <%= render partial: 'shelf_items/as_list_item', as: :item,
            locals: { show_shelf: true },
            collection: ShelfItem.reorder('created_at DESC').limit(5) %>
        </div>
  </div>

  <div class="span9">

    <div class="row">
      <div class="span6">
        <div class="header top">
          <h3>Visitas guiadas</h3>
          <p class="info">
            ¿Eres una experta en algún tema que te apetece compartir? 
            Haznos una visita guiada. Éstas son solo una selección,
              <%= link_to 'hay más', '/visitas' %>
          </p> 
        </div>
        <div class="row">
          <% Site.featured_guided_shelves.each do |shelf| %>
            <div class="span3 shelves small">
              <%= render 'shelves/item', shelf: shelf %>
              <%= markdown shelf.description, length: 800 %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="span3">
        <div class="header top">
          <h3>¡Publica aquí!</h3>
          <p class="info">¿Quieres publicar con licencia libre?.
          Mira <%= link_to 'las publicaciones de bookcamping', '/publicadas' %></p>
        </div>
        <div class="cover responsive"> 
          <% Site.featured_published_reference.try do |reference| %>
            <%= link_to image_tag(cover_image(reference).main.url), reference %>
            <%= markdown reference.description, length: 300 %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
