<div class="download_fields">
  <%= form.input :description %>
  <div class="upload">
    <fieldset>
      <label>Imágen de portada</label>
      <%= form.input :cover_image, label: false %>
      <span class="hint">O escribe el enlace a la imágen...</span>
      <%= form.text_field :remote_cover_image_url %>
    </fieldset>
    <fieldset>
      <label>Fichero para descargar</label>
      <%= form.input :file, label: false %>
      <span class="hint">O escribe la url al fichero de descarga...</span>
      <%= form.text_field :remote_file_url %>
    </fieldset>
  </div>
</div>
