<%= simple_form_for reference do |form| %>
  <% if reference.include_in_shelf.present? %>
  <div class="span12">
  <table class="shelves">
    <%= render shelf %>
  </table>
</div>
  <% end %>

<div class="span4">
    <div class="header top"><h3>Información</h3></div>
  <%= form.error :base %>
  <%= form.input :include_in_shelf, as: :hidden %>

  <%= form.input :title %>
  <%= form.input :ref_type, collection: 
      tc('references.ref_types', Reference::REF_TYPES), 
      include_blank: false %>
    <%= form.input :license_id, collection: License.all, include_blank: false %>
    <%= form.input :authors %>
    <%= form.input :editor %>
    <%= form.input :date %>
    <%= form.input :tag_names, as: :text %>
    <% if current_user.site_member? %>
      <div class="alert alert-info">
        <p>Eres administradora. Usa tus poderes con cuidado.</p>
        <%= form.input :featured, label: false %>
      </div>
    <% end %>
  </div>
  <div class="span4">
    <div class="header top"><h3>Reseña</h3></div>
    <%= form.input :media %>
    <%= form.input :description, :as => :text %>
  </div>
  <div class="span4">
    <div class="header top">
      <h3>Enlaces relacionados</h3>
      <p class="info">
        Completa esta ficha poniendo enlaces a otras reseñas,
        al sitio de la editorial o cualquiera que ayude a completar
        esta ficha.
      </p>
      <%= link_to_add_fields 'Añadir enlace', form, :links %>
    </div>
    <div class="links">
      <%= form.fields_for :links do |builder| %>
        <%= render 'link_fields', form: builder %>
      <% end %>
    </div>
    <br><br>

    <div class="header top">
      <h3>Archivos de descarga</h3>
      <p class="info">
        Completa esta ficha poniendo enlaces a otras reseñas,
        al sitio de la editorial o cualquiera que ayude a completar
        esta ficha.
      </p>
      <% if reference.persisted? %>
        <%= link_to 'Añadir ficheros de descarga', [:new, reference, :download], class: 'action' %>
      <% else %>
        <%= link_to_add_fields 'Añadir fichero de descarga', form, :downloads %>
      <% end %>
    </div>
    <div class="downloads">
      <% reference.downloads.each do |download| %>
        <%= render download %>
        <%= link_to icon(:pencil, 'Editar'), [:edit, reference, download] if 
          can?(:edit, download) %>
        <%= link_to icon(:trash, 'Borrar'), [reference, download],
          method: :delete, data: {
            confirm: "¿Seguro que quieres borrar '#{download.title}'?", 
            action: "delete-download-#{download.id}" } if can?(:edit, download) %>
      <% end %>
    </div>
  </div>
  <div class="span12 submit">
    <%= form.submit t('app.save') %>
  </div>
<% end %>
<br>
<%= simple_debug reference.errors %>
