<%= simple_form_for reference do |form| %>
  <% if reference.include_in_shelf.present? %>
    <table class="shelves">
      <%= render shelf %>
    </table>
  <% end %>
  <%= form.error :base %>
  <%= form.input :include_in_shelf, as: :hidden %>
  <%= form.input :ref_type, collection: tc('references.ref_types', Reference::REF_TYPES), include_blank: false %>
  <%= form.input :title %>
  <%= form.input :authors %>
  <%= form.input :editor %>
  <%= form.input :date %>
  <%= form.input :license_id, label: 'Licencia', collection: License.all, include_blank: false %>
  <%= form.input :media %>
  <%= form.input :description, :as => :text %>
  <%= form.input :tag_names %>
  <%= form.submit t('app.save') %>
<% end %>

<%= render 'markdown' %>
