<%= simple_form_for reference do |form| %>
  <% if shelf %>
    <div class="span12">
      <table class="shelves">
        <%= render shelf %>
      </table>
    </div>
  <% end %>

<div class="span4">
    <div class="header top"><h3>Información</h3></div>
  <%= form.error :base %>
  <%= hidden_field_tag :s, shelf.id if shelf %>

  <%= form.input :title %>
  <%= form.input :ref_type, collection:
      tc('references.ref_types', Reference::REF_TYPES),
      include_blank: false %>
    <%= form.input :license_id, collection: License.all, include_blank: false %>
    <%= form.input :authors %>
    <%= form.input :editor %>
    <%= form.input :date %>
    <%= form.input :tag_names, as: :text %>
  </div>

  <div class="span4">
    <div class="header top"><h3>Enlaces</h3></div>
    <%= form.input :media %>
    <div class="">
      <h4>Enlaces</h4>
      <p>Puedes poner hasta tres enlaces. Puede ser a un post de un blog,
        un artículo, un enlace de descarga. Lo que quieras.</p>
      <%= form.input :link1, as: :url %>
      <%= form.input :link2, as: :url %>
      <%= form.input :link3, as: :url %>
    </div>
  </div>

  <div class="span4">
    <div class="header top"><h3>Reseña</h3></div>
    <%= form.input :description, :as => :text %>
  </div>

  <div class="span12 submit">
    <%= form.submit t('app.save') %>
  </div>

  <div class="span12">
    <%= admin_area do %>
      <%= form.input :featured, label: false %>
      <%= form.input :library_id, include_blank: false,
        collection: Library.all %>
      <%= form.input :user_id %>
    <% end %>
  </div>
<% end %>
<br>
<%= simple_debug reference.errors %>
