<table class="shelves small">
  <%= render reference.shelf_items %>
</table>

<% if reference.repubbed? || reference.downloads? %>
  <h3 class="important download">&dArr; ¿Lo quieres? ¡Lo tienes! &dArr;</h3>
  <div class="action_list downloads">
    <% reference.downloads.each do |download| %>
      <%= link_to icon('download', download.title), 
        download_path(download.title) %>
    <% end %>
    <% if reference.repubbed? %>
      <%= link_to icon('eye-open', 'Leer'), [reference, :repub] %>
      <%= link_to icon('download', 'Descargar .pdf'), [reference, :repub] %>
      <%= link_to icon('link', 'Ir a la fuente'), reference.url, 
        target: '_blank' %>
    <% end %>
  </div>
<% end %>
<div class="actions">
  <% if reference.downloads? && can?(:manage, reference) %>
    <%= link_to 'Gestionar descargas', [reference, :downloads] %>
  <% end %>
</div>
