<%= div_for reference, 
  style: "background-color: #{reference_color(defined?(shelf) ? shelf : nil)}", 
  class: reference_css_class(reference) do %>

  <div class="content">
    <div class="emblems">
      <%= license_type_icon reference %>
      <%= image_tag('references/download-arrow.png', alt: '¿Lo quieres? ¡Lo tienes!'), class: 'download') if reference.downloads? %>
    </div>
    <div class="info">
      <h3><%= link_to reference.title, [reference] %></h3>
      <div class="more"><%= reference.date %> <%= reference.authors %> <%= reference.editor %></div>
    </div>
  </div>
 <% end %>
