<div class="header">
  <div class="actions">
  <% if can? :manage, ShelfItem %>
    <%= link_to icon(:bolt), [reference, :shelf_items],
      class: 'action' %>
  <% end %>
  </div>
  <h4>Lo puedes encontrar en...</h4>
</div>
<div class="shelves small">
  <%= render partial: 'shelves/item', collection: reference.shelves,
    as: :shelf %>
</div>

<% if reference.repubbed? || reference.downloads? %>
  <h3 class="important download">&dArr; ¿Lo quieres? ¡Lo tienes! &dArr;</h3>
  <div class="action_list downloads">
    <% reference.downloads.each do |download| %>
      <%= link_to icon('download', download.title), 
        download_path(download.title) %>
    <% end %>
    <% if reference.repubbed? %>
      <%= link_to icon('eye-open', 'Leer'), [reference, :repub] %>
      <%= link_to icon('download', 'Descargar .pdf'), [reference, :repub] %>
      <%= link_to icon('link', 'Ir a la fuente'), reference.url, 
        target: '_blank' %>
    <% end %>
  </div>
<% end %>
<div class="actions">
  <% if reference.downloads? && can?(:manage, Download) %>
    <%= link_to 'Gestionar descargas', [reference, :downloads] %>
  <% end %>
</div>

<% if reference.links? %>
  <h4>Enlaces relacionados</h4>
  <div class="links">
    <%= render reference.links %>
  </div>
  <div class="actions">
    <%= link_to icon(:plus, 'Añadir enlace'),
      new_reference_link_path(reference) if
      can? :create, Link %>
    <%= link_to icon(:bolt, 'Gestionar enlaces'),
      [reference, :links] if can? :manage, Link %>
  </div>
<% end %>
