<div class="header">
  <h4>Lo puedes encontrar en...</h4>
</div>
<div class="shelves small">
  <%= render partial: 'shelves/item', collection: reference.shelves,
    as: :shelf %>
</div>

<% if reference.repubbed? || reference.downloads? %>
  <h3 class="important download">&dArr; ¿Lo quieres? ¡Lo tienes! &dArr;</h3>
  <div class="action_list downloads">
    <% reference.downloads.each do |download| %>
      <%= link_to icon('download', download.title), 
        download_path(download.title) %>
    <% end %>
    <% if reference.repubbed? %>
      <%= link_to icon('eye-open', 'Leer'), [reference, :repub] %>
      <%= link_to icon('download', 'Descargar .pdf'), [reference, :repub] %>
      <%= link_to icon('link', 'Ir a la fuente'), reference.url, 
        target: '_blank' %>
    <% end %>
  </div>
<% end %>

<% if reference.links? %>
  <br>
  <h4><%= icon(:link) %>Enlaces relacionados</h4>
  <div class="links">
    <%= render reference.links %>
  </div>
  <div class="actions">
  </div>
<% end %>
