<% if reference.libre? %>
  <p class="download important">¿Lo quieres? ¡Lo tienes!</p>
<% end %>
<% if reference.downloads? %>
  <div class="downloads">
    <%= render reference.downloads %>
  </div>
<% end %>
<% if reference.links? %>
  <div class="links">
    <%= render reference.links %>
  </div>
<% end %>
<br>
<div class="shelves small">
  <%= render partial: 'shelves/item', collection: reference.shelves,
    as: :shelf %>
</div>
<% if reference.tags? %>
  <div class="tags">
    <%= icon(:tag) %><%= render reference.tags %>
  </div>
<% end %>


