<% title reference.title %>
<%= content_tag_for :article, reference, 
  class: reference_css_class(reference) do %>
  <div class="header">
    <div class="icon">
      <%= image_tag "references/#{reference_css_class(reference).downcase}_small.png", alt: reference.ref_type %>
    </div>
    <h1>
      <%= link_to reference.title, reference %>
      <small>
        <br><%= t("references.ref_types.#{reference.ref_type}") %>.
        En <%= link_to reference.library.name, reference.library %>
      </small>
    </h1>
    <div class="info">
      <%= license_icon_tag reference.license %>
      <%= reference.date %>
      <%= reference.authors %>
      <% if reference.editor? %>
        / <%= reference.editor %>
  <% end %>
    </div>
    <div class="tags">
      <%= render reference.tags %>
    </div>
  </div>
  <div class="media">
    <%= render_media(reference) if reference.media? %>
  </div>
  <div class="description"><%= markdown reference.description %></div>

  <% if !reference.repubbed? && reference.downloads_count == 0 && reference.url? && reference.license.libre? %>
    <div class="download_url">
    <%= link_to(raw(t("references.downloads.#{reference.ref_type}")),
                reference.url, target: '_blank', class: 'important download') %>
            </div>
            <% end %>
              <div class="comments">
                <%= render reference.comments %>
              </div>

              <div class="visits">
                <% reference.shelf_items.each do |item| %>
                  <%= render 'shelf_items/visit', item: item if item.shelf.guide? %>
              <% end %>
              </div>

              <%= content_for :right do %>
                <%= render 'right' %>
            <% end %>

              <%= content_for :left do %>
                <%= render 'left' %>
            <% end %>
              
            <% end %>

