<div class="row">
  <div class="main span10">


<% title reference.title %>
<%= content_tag_for :article, reference, 
  class: reference_css_class(reference) do %>
  <%= render 'header' %>

  <div class="row">
    <% media = render_media(reference) %>
    <div class="span7">
      <% if reference.media? %>
        <div class="media fitvideo">
          <%= media.html %>
        </div>
      <% elsif false && cover_image?(reference) %>
        <div class="media">
          <%= image_tag cover_image(reference).main.url %>
        </div>
      <% end %>
      <div class="description">
        <%= markdown reference.description %>
      </div>

      <div class="comments">
        <%= render reference.comments %>
      </div>

      <div class="visits">
        <% reference.shelf_items.each do |item| %>
          <%= render 'shelf_items/visit', item: item if item.shelf.guide? %>
        <% end %>
      </div>
    </div>

    <div class="span3">
      <%= render 'extra' %>
    </div>



  </div>
  <% if reference.verbose_downloads.size > 0 %>
    <div class="verbosed_downloads row">
      <% reference.verbose_downloads.each do |download| %>
        <div class="span3">
          <%= render 'downloads/verbose', download: download %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>


  </div>
  <div class="sidebar left span2">
    <div class="sidecontent">
  <%= render 'right' %>
    </div>
    &nbsp;
  </div>
</div>

