<% title reference.title %>
<%= content_tag_for :article, reference, 
  class: reference_css_class(reference) do %>
  <%= render 'header' %>

  <div class="row">
    <div class="span6">
      <div class="media">
        <%= render_media(reference) if reference.media? %>
      </div>
      <div class="description"><%= markdown reference.description %></div>

      <% if !reference.repubbed? && reference.downloads_count == 0 && reference.url? && reference.license.libre? %>
        <div class="download_url">
        <%= link_to(raw(t("references.downloads.#{reference.ref_type}")),
          reference.url, target: '_blank', class: 'important download') %>
        </div>
      <% end %>

      <div class="comments">
        <%= render reference.comments %>
      </div>

      <div class="visits">
        <% reference.shelf_items.each do |item| %>
          <%= render 'shelf_items/visit', item: item if item.shelf.guide? %>
        <% end %>
      </div>
    </div>
    <div class="span3">
      <%= render 'right' %>
    </div>
  </div>
<% end %>

<%= content_for :left do %>
  <%= render 'left' %>
<% end %>

