<div class="row">
  <div class="main span10">
  <% title reference.title %>
  <%= content_tag_for :article, reference,
    class: reference_css_class(reference) do %>
    <%= render 'header' %>

  <div class="row">
    <% media = render_media(reference) %>
    <div class="span7">
      <% if reference.media? %>
        <div class="media fitvideo">
          <%= media.html %>
        </div>
      <% elsif reference.cover_image? %>
        <div class="media">
          <%= image_tag reference.cover_image.main.url %>
        </div>
      <% end %>
      <div class="description">
        <%= markdown reference.description %>
      </div>

      <div class="comments">
        <%= render reference.comments %>
      </div>

      <div class="visits">
        <% reference.shelf_items.each do |item| %>
          <%= render 'shelf_items/visit', item: item if item.shelf.guide? %>
        <% end %>
      </div>
    </div>

    <div class="span3">
      <%= render 'extra', reference: reference %>
    </div>
  </div>
<% end %>


  </div>
  <div class="sidebar left span2">
    <div class="sidecontent">
  <%= render 'right' %>
    </div>
    &nbsp;
  </div>
</div>
