<% title reference.title %>
<%= content_tag_for :article, reference, 
  class: reference_css_class(reference) do %>
  <%= render 'header' %>

  <div class="row">
    <div class="span7">
      <div class="media">
        <% if reference.cover? %>
          <%= image_tag reference.cover.main.url %>
        <% elsif reference.media? %>
          <%= render_media(reference) %>
        <% end %>
      </div>
      <div class="description">
        <%= markdown reference.description %>
      </div>

      <div class="comments">
        <%= render reference.comments %>
      </div>

      <div class="visits">
        <% reference.shelf_items.each do |item| %>
          <%= render 'shelf_items/visit', item: item if item.shelf.guide? %>
        <% end %>
      </div>
    </div>
    <div class="span3">
      <%= render 'right' %>
    </div>
  </div>
<% end %>

<%= content_for :left do %>
  <%= render 'left' %>
<% end %>

