<% title reference.title %>
<%= content_tag_for :article, reference do %>
  <%= render 'header', reference: reference %>
<% end %>
<div class="media">
  <%= render_media(reference) if reference.media? %>
</div>
<div class="description"><%= markdown reference.description %></div>

<% if reference.url? && reference.license.libre? %>
  <div class="download_url">
    <%= link_to("¿Lo quieres? ¡Lo tienes! <b>&dArr;</b> Descargar!".html_safe, 
                reference.url, class: 'important download') %>
  </div>
<% end %>

<%= content_for :social do %>
  <div class="content">
    Compartido por <%= link_to reference.user.name, reference.user %>
    hace <%= time_ago_in_words reference.created_at %>
  </div>
  <div class="actions">
    <%= link_to 'Editar', [:edit, reference] if can? :edit, reference %>
  </div>
<% end %>

<%= content_for :description do %>
  <table class="shelves small">
  <%= render reference.shelves %>
</table>
  <% end %>
