<header id="page_header">
  <div class="container">
  <div class="bar">
    <div class="right end">&nbsp;</div>
    <div class="left end">&nbsp;</div>
    <div class="bar-contents">
      <div class="search span2">
        <%= form_tag search_path, method: :get do %>
          <%= text_field_tag :term, '', placeholder: 'Buscar...' %>
        <% end %>
      </div>
      <div class="tabs">
        <% Site.tabs.reverse.each do |tab| %>
          <%= link_to tab.label, tab.path %>
      <% end %>
      </div>
      <div class="session">
        <% if current_user %>
          <%= content_tag_for :p, current_user do %>
          Hola <%= link_to current_user.name, user_path(current_user) %><%= '*' if current_user.admin? %> |
        <%= link_to 'Salir', logout_path(from: request.url) %>
      <% end %>
      <% else %>
          <p><%= link_to 'Entrar', login_path(from: request.url) %></p>
      <% end %>
      </div>
    </div>
  </div>
  </div>
</header>

