<header id="page_header" class="container">
  <div class="bar">
    <div class="right end">&nbsp;</div>
    <div class="left end">&nbsp;</div>
    <div class="bar-contents">
      <div class="session">
        <% if current_user %>
          <p>Hola <%= link_to current_user.name, current_user %> | 
        <%= link_to 'Salir', logout_path(from: request.url) %></p>
      <% else %>
          <p><%= link_to 'Entrar', login_path(from: request.url) %></p>
      <% end %>
      </div>
      <div class="search span3">
        &nbsp;
      </div>
      <div class="tabs">
        <% Site.tabs.reverse.each do |tab| %>
          <%= link_to tab.label, tab.path %>
      <% end %>
      </div>
    </div>
  </div>

  <div class="banner row">
    <div class="span3 logo">
      <%= link_to(image_tag('logos/bookcamping.png', class: 'logo'), root_path) %>
    </div>
    <div class="span9">
      <%= render 'layouts/campings_header' %>
      <div class="slogans">
        <span class="slogan small">Algunos libros para entender cómo hemos llegado hasta aquí (poque no salimos de la nada)</span>
        <span class="slogan big">¿Y tú, qué libro te llevarías a tu plaza/acampada/bookcamping?</span>
      </div>
    </div>
  </div>
</header>
